.git

.DS_Store

__pycache__/

.venv
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db
include/*.csv
include/*.json
data/processed/*.csv
data/processed/*.json
data/intermediary/*.csv
data/intermediary/*.json

logs/
